body {
    margin: 50px 200px 50px 200px;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: lightgrey;
    with: 10%;
    heigth: 1000px;
}

th {
   border: 1px solid black;
   text-align: center;
   padding: 15px;
}

th, td {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}