<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <link rel="stylesheet" href="{{ url_for('static',     filename='style.css') }}">
</head>
<body>
    <h1> Kies een infobox: </h1>
    <form method="POST">
        <select name="entity">
            <!--Hier moeten alle entities worden toegevoegd: Misschien kan dit automatisch?-->
            <option value="Aristoteles">Aristoteles</option>
            <option value="Plato">Plato</option>
            <option value="Descartes">Descartes</option>
        </select>
        <input type="submit">
    </form>

</body>
</html>