<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Infobox</title>
    <link rel="stylesheet" href="{{ url_for('static',     filename='style.css') }}">
</head>
<body>
    <a href="{{ url_for('form') }}">Ga terug</a>
    <h1>Aanschouw deze prachtige infobox:</h1>
    <table>
      <tr>
        <th colspan="2">{{ entity }}</th>
      </tr>
      <tr>
        <td>{{ property0 }}</td>
        <td>{{ value0 }}</td>
      </tr>
      <tr>
        <td>{{ property1 }}</td>
        <td>{{ value1 }}</td>
      </tr>
      <tr>
        <td>{{ property2 }}</td>
        <td>{{ value2 }}</td>
      </tr>
      <tr>
        <td>{{ property3 }}</td>
        <td>{{ value3 }}</td>
      </tr>
      <tr>
        <td>{{ property4 }}</td>
        <td>{{ value4 }}</td>
      </tr>
      <tr>
        <td>{{ property5 }}</td>
        <td>{{ value5 }}</td>
      </tr>
      <tr>
        <td>{{ property6 }}</td>
        <td>{{ value6 }}</td>
      </tr>
      <tr>
        <td>{{ property7 }}</td>
        <td>{{ value7 }}</td>
      </tr>
      <tr>
        <td>{{ property8 }}</td>
        <td>{{ value8 }}</td>
      </tr>
      <tr>
        <td>{{ property9 }}</td>
        <td>{{ value9 }}</td>
      </tr>
      <tr>
        <td>{{ property10 }}</td>
        <td>{{ value10 }}</td>
      </tr>
      <tr>
        <td>{{ property11 }}</td>
        <td>{{ value11 }}</td>
      </tr>
      <tr>
        <td>{{ property12 }}</td>
        <td>{{ value12 }}</td>
      </tr>
      <tr>
        <td>{{ property13 }}</td>
        <td>{{ value13 }}</td>
      </tr>
      <tr>
        <td>{{ property14 }}</td>
        <td>{{ value14 }}</td>
      </tr>
      <tr>
        <td>{{ property15 }}</td>
        <td>{{ value15 }}</td>
      </tr>
      <tr>
        <td>{{ property16 }}</td>
        <td>{{ value16 }}</td>
      </tr>
      <tr>
        <td>{{ property17 }}</td>
        <td>{{ value17 }}</td>
      </tr>
      <tr>
        <td>{{ property18 }}</td>
        <td>{{ value18 }}</td>
      </tr>
      <tr>
        <td>{{ property7 }}</td>
        <td>{{ value7 }}</td>
      </tr>
      <tr>
        <td>{{ property19 }}</td>
        <td>{{ value19 }}</td>
      </tr>
      <tr>
        <td>{{ property20 }}</td>
        <td>{{ value20 }}</td>
      </tr>
      <tr>
        <td>{{ property21 }}</td>
        <td>{{ value21 }}</td>
      </tr>
      <tr>
        <td>{{ property22 }}</td>
        <td>{{ value22 }}</td>
      </tr>
    </table>
</body>
</html>